
@{
    //Layout = null;
    ViewBag.Title = "Welcome to YZU";
}

<h2>@ViewBag.Title</h2>
<h4>Welcome to the function for Administration</h4>
<hr/>

@Html.ActionLink("Register","Register") &emsp;
@Html.ActionLink("Login","Login") 
<br/>










