@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>


<h1>Welcome to My Websites</h1>
<h3>I am Tareq Here ...</h3>

@using (Html.BeginForm("Admin", "Admin", FormMethod.Get))
{
    <button class="btn btn-warning" type="submit">Go to Home</button>
}

