@model IEnumerable<WebApp2020.Models.Sex>

@{
    //ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Sex1 }) |
                @Html.ActionLink("Details", "Details", new { id = item.Sex1 }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Sex1 })
            </td>
        </tr>
    }

</table>

@using (Html.BeginForm("Success", "Admin", FormMethod.Get))
{
    <button class="btn btn-warning" type="submit">Go to Admin</button>
}
